@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@layer vocs_preflight {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
img {
  border-radius: 8px;
}

:root {
  --vocs-color_background: #ffffff;
  --vocs-color_background4: #d6d6d6;
  --vocs-color_backgroundDark: "#ffffff";
}

:root.dark {
  --vocs-color_background: #000000;
  --vocs-color_backgroundDark: #000000;
  --vocs-color_background4: #3c393f;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 9999px;
  background: #ececec;
}
::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 9999px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 9999px;
}
.dark ::-webkit-scrollbar-track {
  background: #292929;
}

.vocs_NavLogo_logoImage {
  height: 80%;
}
.vocs_Subtitle {
  white-space: normal !important;
}
.customBtn {
  white-space: normal !important;
  background: transparent !important;
  border: none !important;
  display: block !important;
  height: 100% !important;
  padding: 0px !important;
  transition: all 0.2s linear !important;
}
.customBtn:hover {
  transform: scale(1.03);
}
.vocs_Sidebar_sectionTitle {
  @apply font-semibold text-xs py-0 px-2;
}

.vocs_Sidebar_items {
  row-gap: 0.1rem;
}

.vocs_Sidebar_item {
  @apply text-sm py-1.5 px-2;
  font-weight: 400;
  border-radius: 0.3rem;
}

.vocs_Sidebar_item[data-active="true"] {
  font-weight: 600;
  @apply hover:bg-[#f4431b1f];
}

.dark .vocs_Sidebar_item[data-active="true"] {
  color: #f66949;
  @apply hover:bg-[#f4431b1f];
}

.vocs_Footer {
  @apply py-0;
  margin-bottom: 2.688rem;
}

.dark .vocs_HomePage_tagline {
  @apply !text-white;
}
.vocs_HomePage_tagline {
  @apply !text-black;
}

.vocs_Code {
  font-weight: 200 !important;
  font-size: 0.85rem !important;
  background: transparent !important;
  border: 0 !important;
}

.vocs_DesktopSearch_search {
  border: 1px solid #e7e7e7;
  outline: 0;
}

.vocs_DesktopSearch_search {
  @apply border-[#e7e7e7]; /* Default and hover state */
}

.dark .vocs_DesktopSearch_search {
  @apply border-[#2a282d] hover:border-[#e4e4e5]; /* Dark mode and hover state */
}

.vocs_Sidebar_logo {
  display: block;
  width: 100%;
}

.vocs_Sidebar_logo {
  @apply bg-white dark:bg-black;
}

.vocs_Strong {
  font-weight: 700 !important;
  font-size: 1rem !important;
  color: #1f1f1f;
  /* color: #f56949; */
}

.vocs_Paragraph {
  font-weight: 400 !important;
  color: #1f1f1f;
}

.vocs_Subtitle {
  font-weight: 400 !important;
  font-size: 1.125rem !important;
  color: #565656 !important;
}

.vocs_ListItem {
  font-size: 400 !important;
}

._list-paragraph {
  display: inline;
  font-weight: 400 !important;
}

.vocs_Footer_navigationTextInner {
  font-size: 1rem;
}

.dark .vocs_Paragraph {
  @apply dark:text-[#cfcfcf];
}
.dark .vocs_Subtitle {
  @apply dark:text-[#bdbdbe] !important;
}

.dark .vocs_Strong {
  @apply dark:text-[#e9e9ea];
}

.vocs_DocsLayout_sidebar {
  width: 23.75rem; /* 380px */
}

.vocs_H1 {
  font-weight: 700;
  font-size: 2.25rem;
}

.vocs_Outline_link {
  @apply hover:text-[#f4431b];
  font-size: 14px;
}

.vocs_Outline_items {
  @apply *:mb-5;
}

.vocs_Outline_heading {
  display: none;
}

.custom-zoom-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-zoom-image {
  max-width: 80%; /* Adjust as needed */
  max-height: 80%; /* Adjust as needed */
}
