@layer vocs_preflight {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

img {
  border-radius: 8px;
}

:root {
  --vocs-color_background: #ffffff;
  --vocs-color_background4: #d6d6d6;
  --vocs-color_backgroundDark: "#ffffff";
}

:root.dark {
  --vocs-color_background: #000000;
  --vocs-color_backgroundDark: #000000;
  --vocs-color_background4: #3c393f;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 9999px;
  background: #ececec;
}
::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 9999px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 9999px;
}
.dark ::-webkit-scrollbar-track {
  background: #292929;
}

.vocs_NavLogo_logoImage {
  height: 100%;
}
.vocs_Subtitle {
  white-space: normal !important;
}
.customBtn {
  white-space: normal !important;
  background: transparent !important;
  border: none !important;
  display: block !important;
  height: 100% !important;
  padding: 0px !important;
  transition: all 0.2s linear !important;
}
.customBtn:hover {
  transform: scale(1.03);
}
.vocs_Sidebar_sectionTitle {
  @apply font-semibold text-xs py-0 px-2;
}

.vocs_Sidebar_items {
  row-gap: 0.1rem;
}

.vocs_Sidebar_item {
  @apply text-sm py-1.5 px-2;

  border-radius: 0.3rem;
}

.vocs_Sidebar_item[data-active="true"] {
  background-color: #b85c2f3b;
  font-weight: bold;
}

.dark .vocs_Sidebar_item[data-active="true"] {
  color: var(--vocs-color_textAccent);
  background-color: #40241fbd;
  font-weight: bold;
}

.vocs_Footer {
  @apply py-0;
}

.dark .vocs_HomePage_tagline {
  @apply !text-white;
}
.vocs_HomePage_tagline {
  @apply !text-black;
}
